<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>To Do List</title>
    <link rel="stylesheet" href="css/styles.css" />
  </head>
  <body>
    <div class="box" id="heading">
      <h1><%= kindOfDay %></h1>
    </div>

    <div class="box">
      <% for (var i = 0; i < newListItems.length; i++) { %>
      <div class="item">
        <input type="checkbox" />
        <p><%= newListItems[i] %></p>
      </div>
      <% } %>

      <form class="item" action="/" method="POST">
        <input
          type="text"
          name="newItem"
          placeholder="New Item"
          autocomplete="off"
        />
        <button type="submit" name="button">+</button>
      </form>
    </div>
  </body>
</html>
