<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>To Do List</title>
  </head>
  <body>
    <% if (kindOfDay === "Saturday" || kindOfDay === "Sunday") { %>
    <h1 style="color: purple;"><%= kindOfDay %> To Do List</h1>
    <% } else { %>
    <h1 style="color: blue;"><%= kindOfDay %> To Do List</h1>
    <% } %>
  </body>
</html>
