<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>To Do List</title>
  </head>
  <body>
    <h1><%= kindOfDay %></h1>

    <ul>
      <% for (var i = 0; i < newListItems.length; i++) { %>
      <li><%= newListItems[i] %></li>
      <% } %>
    </ul>

    <form class="" action="/" method="POST">
      <input type="text" name="newItem" />
      <button type="submit" name="button">Add</button>
    </form>
  </body>
</html>
