<%- include("partials/header"); %>
<h1>Compose</h1>
<form action="/compose" method="POST">
  <input type="text" name="publishText" />
  <button type="submit" name="button">Publish</button>
</form>
<%- include("partials/footer"); %>
